<!DOCTYPE html>
<html>
<head>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/highcharts/highcharts.js"></script>
    <script src="javascripts/pollStorage.js"></script>
   
    <title></title>
</head>
<body onload="abc()">
    <div>
        <ul class="social list-inline">
            <li>
                <a class="googleplus" href="/auth/google"><i class=
                "fa fa-google-plus"></i></a> <a class="twitter" href=
                "/auth/twitter"><i class="fa fa-twitter"></i></a> <a class=
                "facebook" href="/auth/facebook"><i class=
                "fa fa-facebook"></i></a>
            </li>
        </ul>
    </div>
    
       
            
    
    <div id="container"></div>
</body >
</html>